{% load static %}
{% load i18n %}
<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    {% load custom_tags %}
    {% return_sites as sites %}
    {% return_assigned_domains as assigned_domains %}
    {% return_assigned_projects as assigned_projects %}
    {% if sites.count > 1 %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Sites <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {% for site in sites %}
          <li>
              <a href="{% url 'site-select' site_id=site.id user_id=user.id %}">
                  {% if user.profile.selected_site == site.id %}
                  <span style="font-weight: bold ;">{{ site.name }}</span> <i class="fa fa-check"></i>
                  {% else %}
                  <span>{{ site.name }}</span>
                  {% endif %}
              </a>
          </li>
        {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if assigned_domains.count > 0 or assigned_projects.count > 0 %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Domains <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {% for assigned_domain in assigned_domains %}
          <li>
              <a href="{% url 'domain-select' domain_id=assigned_domain.target_domain_id user_id=user.id %}">
                  {% if user.profile.selected_domain == assigned_domain.target_domain_id %}
                  <span style="font-weight: bold ;">{{ assigned_domain.target_domain__name }}</span> <i class="fa fa-check"></i>
                  {% else %}
                  <span>{{ assigned_domain.target_domain__name }}</span>
                  {% endif %}
              </a>
          </li>
        {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if assigned_domains.count > 0 and assigned_projects.count %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Projects <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {% for assigned_project in assigned_projects %}
          <li>
              <a href="{% url 'project-select' project_id=assigned_project.target_project_id user_id=user.id %}">
                  {% if user.profile.selected_project == assigned_project.target_project_id %}
                  <span style="font-weight: bold ;">{{ assigned_project.target_project__name }}</span> <i class="fa fa-check"></i>
                  {% else %}
                  <span>{{ assigned_project.target_project__name }}</span>
                  {% endif %}
              </a>
          </li>
        {% endfor %}
        </ul>
    </li>
    {% endif %}
    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if user.profile.avatar %}
          <img src="{% static user.profile.avatar %}" class="user-image" alt="User Image">
        {% else %}
          <img src="{% static 'bower_components/AdminLTE/dist/img/avatar5.png' %}" class="user-image" alt="User Image">
        {% endif %}
        <span class="hidden-xs">{{ user.first_name }} {{ user.last_name }}</span>
      </a>
      <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
          {% if user.profile.avatar %}
            <img src="{% static user.profile.avatar %}" class="img-circle" alt="User Image">
          {% else %}
            <img src="{% static 'bower_components/AdminLTE/dist/img/avatar5.png' %}" class="img-circle" alt="User Image">
          {% endif %}
           <p>
            {{ user.first_name }} {{ user.last_name }}
          </p>
        </li>
        <!-- Menu Body -->
        <!-- Menu Footer-->
        <li class="user-footer">
          <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">{% trans 'Profile' %}</a>
          </div>
          <div class="pull-right">
            <a href="{% url 'logout' %}" class="btn btn-default btn-flat">{% trans 'Sign out' %}</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>